<div class="content">
  <h1>About</h1>
  <p>
    Hello! I'm Mohamed Hameed, a passionate software developer with a B.E. in Computer Science from PERI Institute of Technology. My journey in the world of technology has been driven by a deep curiosity and a love for solving complex problems through code. With expertise in Java full-stack development, I have built robust applications and systems that meet real-world needs.
  </p>
  <p>
    Beyond coding, I enjoy volunteering, teaching, and engaging in activities like gaming, sports, and martial arts (JUDO). My diverse interests allow me to bring a unique perspective to every project I undertake. I am committed to continuous learning and am always eager to take on new challenges that push the boundaries of my skills.
  </p>
</div>
