<div class="content">
    <h1>Experience</h1>
    <p>
      I have accumulated hands-on experience in software development, particularly in Java full-stack development. My journey began with a solid foundation in computer science during my B.E. CSE at PERI Institute of Technology. Since then, I have worked on various projects, including developing a Report Card Application using Spring Boot and an Autonomous Lawnmower system.
    </p>
    <p>
      Additionally, I have gained valuable experience through my volunteering roles, such as mentoring at Face Prep and assisting in tournament operations for Esports Club. These experiences have sharpened my problem-solving skills, enhanced my teamwork capabilities, and deepened my understanding of software development best practices.
    </p>
  </div>
  