<div class="content">
    <h1>Contact</h1>
    <p>
      I am always open to new opportunities and collaborations. Whether you have a question, a project idea, or just want to connect, feel free to reach out! You can contact me through the following channels:
    </p>
    <ul>
      <li>Email: smarthameed79.outlook.com</li>
      <li>Phone: +91 7092863772</li>
      <li>LinkedIn: <a href="https://linkedin.com/in/mohamedhameed007" target="_blank">linkedin.com/in/mohamedhameed007</a></li>
    </ul>
    <p>
      I look forward to hearing from you and exploring how we can work together!
    </p>
  </div>
  