<nav>
  <div class="circle-container">
    <div class="circle" (click)="navigateToHome()"></div>
    <ul>
      <!-- Top Left Quadrant - ABOUT -->
      <li>
        <div class="quadrant top-left" (click)="navigateTo('about')">
          <svg viewBox="0 0 200 200" class="curved-text-svg-tl" style="transform: rotate(-45deg)">
            <defs>
              <path id="curve-about" d="M50,150 A100,100 0 0,1 150,150" fill="transparent" />
            </defs>
            <text>
              <textPath href="#curve-about" startOffset="50%">
                ABOUT
              </textPath>
            </text>
          </svg>
        </div>
      </li>

      <!-- Top Right Quadrant - SKILLS -->
      <li>
        <div class="quadrant top-right" (click)="navigateTo('skills')">
          <svg viewBox="0 0 200 200" class="curved-text-svg-tr" style="transform: rotate(45deg)">
            <defs>
              <path id="curve-skills" d="M50,150 A100,100 0 0,1 150,150" fill="transparent" />
            </defs>
            <text>
              <textPath href="#curve-skills" startOffset="50%">
                SKILLS
              </textPath>
            </text>
          </svg>
        </div>
      </li>

      <!-- Bottom Left Quadrant - EXPERIENCE -->
      <li>
        <div class="quadrant bottom-left" (click)="navigateTo('exp')">
          <svg viewBox="0 0 200 200" class="curved-text-svg-bl" style="transform: rotate(-135deg)">
            <defs>
              <path id="curve-exp" d="M50,150 A100,100 0 0,1 150,150" fill="transparent" />
            </defs>
            <text>
              <textPath href="#curve-exp" startOffset="50%">
                EXPERIENCE
              </textPath>
            </text>
          </svg><br>
        </div>
      </li>

      <!-- Bottom Right Quadrant - CONTACT -->
      <li>
        <div class="quadrant bottom-right" (click)="navigateTo('contact')">
          <svg viewBox="0 0 200 200" class="curved-text-svg-br" style="transform: rotate(135deg)">
            <defs>
              <path id="curve-contact" d="M50,150 A100,100 0 0,1 150,150" fill="transparent" />
            </defs>
            <text>
              <textPath href="#curve-contact" startOffset="50%">
                CONTACT
              </textPath>
            </text>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Wrapper div for router-outlet -->
<div class="content">
  <router-outlet></router-outlet>
</div>
