<div class="content">
    <h1>Welcome to My Portfolio</h1>
    <p>
      Hello, I'm Mohamed Hameed, a passionate and dedicated software developer specializing in full-stack Java development. My journey in the world of technology is driven by a deep curiosity and a relentless pursuit of excellence. With a solid foundation in computer science and hands-on experience in various cutting-edge technologies, I am committed to creating innovative and impactful solutions.
    </p>
    <p>
      On this portfolio, you'll find a showcase of my projects, skills, and experiences. From developing robust applications using Spring Boot to designing intuitive user interfaces with Angular and React, I strive to blend functionality with elegance. Whether you're interested in my technical expertise or want to explore my extracurricular activities and hobbies, you'll get a comprehensive view of my professional and personal journey.
    </p>
    <p>
      Feel free to navigate through the sections to learn more about my work, connect with me, or get in touch for potential collaborations. Thank you for visiting, and I look forward to connecting with you!
    </p>
  </div>
  